{% load static %}  
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
            background-image: url("{% static 'img/web.jpg' %}");
        }
        h1,p,a{
            color: blanchedalmond;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'fontawesome/bootstrap-social.css' %}"></script>
    <script src="{% static 'fontawesome/font-awesome.min.css' %}"></script>
    <title>Bank</title>
</head>
<body>
    <div class="font-weight-bold font-italic mt-4 ml-3">
        <h1>  --Welcome to Banking System--</h1>
    </div>
    <div class="container mt-5">
        <img src="{% static 'img/avatars.png' %}" alt="customers" width="190px" height="190px"><br><br>
        <p><a href="{% url 'customers' %}" class="btn btn-danger ml-3">View All Customers</a></p>
    </div>
    <!-- <footer class="footer mt-10">
        <div>
            <div class="row justify-content-center mt">             
                <div class="col">
                    <p>© Copyright Malleswari Ardamala </p>
                </div>
           </div>
        </div>
    </footer> -->
    <br> <br> <br> <br> <br> <br> <br> <br>
    <div>
        <p>© Copyright Malleswari Ardamala </p>
    </div>
</body>
</html>


